{% extends 'base.html' %} 
{% load static %} 

{% block title %} SPLASH {% endblock%} 

{% block styles %} {% endblock %} 

{% block body %}

<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1>REGISTER / LOGIN</h1>
      </a>
    </div>
  </nav>

  <div class="card">
      <form method="POST" action="/signup/">
        {% csrf_token %}
        <div class="mb-3">
          <h2 class="form-label">Sign Up</h2>
        </div> 

        <div class="mb-3">
          <input class="form-control" name="username" type="text" placeholder="Username" />
        </div> 

        <div class="mb-3">
          <input class="form-control" name="email" type="email" placeholder="Enter Email" />
        </div> 

        <div class="mb-3">
          <input class="form-control" name="password" type="password" placeholder="Password" />
        </div> 

        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
  </div>
  <br>
  <div class="card">
      <form method="POST" action="/login/">
        {% csrf_token %}
        <div class="mb-3">
          <h2 class="form-label">Log In</h2>
        </div> 

        <div class="mb-3">
          <input class="form-control" name="username" type="text" placeholder="Enter username" />
        </div> 

        <div class="mb-3">
          <input class="form-control" name="password" type="password" placeholder="Password" />
        </div> 

        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </div>
  {% endblock %}

  